.Navbar {
    height: 60px;
    border-bottom: 1px solid var(--border-color);

    .container {

        h2 {
            font-family: dancing;
            font-size: 3em;
        }

        height: 100%;
        max-width: 960px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline: auto;
    }
}